@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<h1>About Us</h1>
<p>Page-Ant was formed on a random day during a web development class. It has since then gone on to hire
    the best non-existant people due to its extremely high non-existant profits. Its CEO TJ Riblett
    when questioned about this site had this to say, &quot;What site are you talking about? And what do you mean I am its CEO?&quot;
</p>
<p>Our mission statement is to be the best non-existant company that sells non-existant books</p>
