@model CST465.Product
@{
    Layout = null;
}

@*<div>
    <span class="singleLineSpans">@Html.ActionLink(Model.Name, "DisplayOne", Model)</span> 
    <span class="singleLineSpans">Category:@Model.CategoryName</span> 
    <span class="singleLineSpans">Price:@Model.Price</span>
    <span class="singleLineSpans">Quantity:@Model.Quantity</span>
</div>*@