p {
    font-weight: bolder;
    font-size: 13px;
    font-family:'Century Gothic';
}
#hobbies {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aqua;
}

.WhyDoIHaveThisClass {
    text-decoration:line-through;
    background-color:rebeccapurple;
}
