@model CST465.HomePageContainer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Page-ant.com";
}

<h1>Page-Ant Books</h1>
<p>Welcome to page-ant!</p>
<h2>Recent Blog Posts</h2>
@Html.Partial("_BlogPostLinkList", Model.BlogList)
<h2>Sample Inventory Items</h2>
@Html.Partial("_ProductLinkList", Model.ProductList)