@{
    ViewBag.Title = "Submission Received!";
}

<h1>@ViewBag.Title</h1>
<div>Your submission has been received! You should receive a response in the next 1-10000000000000 business days, if you do not please contact us via phone</div>