@model CST465.LongAnswerQuestion
@{
    Layout = null;
}

<div>
    <h2>@Html.Raw(Model.Question)</h2>
    <div>@Html.TextAreaFor(Model => Model.Answer)</div>
    <div>@Html.ValidationMessageFor(Model => Model.Answer)</div>
</div>