@model CST465.TrueFalseQuestion
@{
    Layout = null;
}

<h2>@Html.Raw(@Model.Question)</h2>
@Html.DropDownListFor(Model => Model.Answer, new List<SelectListItem>() { new SelectListItem() { Text = "True", Value = "True" }, new SelectListItem() { Text = "False", Value = "False" } })
<div>@Html.ValidationMessageFor(Model => Model.Answer)</div>