@model List<CST465.BlogPost>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing Blog Posts";
}
<h1>Viewing Blog Posts</h1>

@Html.Partial("_BlogPostLinkList", Model)

<br />
<div>
    @Html.ActionLink("Add", "Add", new { })
</div>
<br />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        @Html.TextBox("Filter")
        <button type="submit">Filter</button>
    }
</div>