@model List<BlogPost>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Viewing Blog Posts";
}
<h1>Viewing Blog Posts</h1>

@foreach(BlogPost blog in Model)
{
    <div><h2>@blog.Title</h2></div>
}