@model CST465.ProductModel
@{ 
    ViewBag.Title = "Editing Product";
}
<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Save", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    <button type="submit">Submit</button>
}